<table>
  <tr>
    <td>
      <a routerLink="/admin-view/customers">View Customers</a>
    </td>
    <td>
      <a routerLink="/admin-view/add">Add a video</a>
    </td>
  </tr>
</table>

<h2>Videos</h2>

<table>
  <tr *ngFor="let video of videos$">
    <td>{{video.title}}</td>
    <td>{{video.director}}</td>
    <td>{{video.rating}}
    </td>
    <td>  {{video.length}}</td>
    <td>  {{video.genre}}</td>
    <td>  {{video.rent}}</td>
    <td><a routerLink="/admin-view/{{video._id}}" >Edit</a></td>
    <td><form (submit)="onDelete(video)" #form>
      <button >Delete</button>
    </form></td>
  </tr>
</table>