
<table>
  <tr>
    <td>
      <a routerLink="" [class.activated]= "currentUrl == '/'" routerLinkActive="router-link-active" >
        Rental Page
      </a>
    </td>
    <td>
      <a routerLink="admin-login" [class.activated]= "currentUrl == '/admin-login'" routerLinkActive="router-link-active" >
        Admin Log In
      </a>
    </td>
    <td>
      <a routerLink="admin-view" [class.activated]= "currentUrl == '/admin-view'" routerLinkActive="router-link-active" >
        Admin Page
      </a>
    </td>
  </tr>
</table>

